<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<style>
    
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="static/images/logo2.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        AgriTech
      </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/yield">Crop Yeild Prediction</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Crop Price Prediction</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/chat">Talk to AgroExpert Bot</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Operation optimization and Logistics</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/edu">Eductational Services</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Market linkage</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search"> 
        <div  id="google_translate_element"></div>
      </form>
    </div>
  </div>
</nav>

<!-- Section 1 -->
<div class="bg-image" 
     style="background-image: url('static/images/bg2.jpg');
            width: 100%; height:90vh; background-size: cover;" >
            
            <!-- <img src="images/bg2.jpg" class="img-fluid " alt="..."> -->
  <h1 class="text-center" style="padding-top: 8vh; max-width: 200vh; margin:auto; font-size:xxx-large;">
    Empowering Farmers with Data-Driven Insights: Your AI-powered Agriculture Partner
  </h1>
</div>


  <!-- Section 2 -->

  <div class="container-fluid">
    <div class="row g-0 bg-light position-relative">
      <div class="col-lg-6 p-4 p-md-4" >
        <h3>Harnessing the Future of Farming: AI-Powered Solutions for Smarter Agriculture</h3>
        <br>
        <p>Gain valuable insights from your farm data with our AI-powered platform. We analyze soil health, weather patterns, crop performance, and more to provide actionable recommendations that help you make informed decisions and optimize your operations.</p>
        <p>Discover how AI is revolutionizing agriculture, from precision farming and disease detection to intelligent irrigation and yield optimization. Learn how our AI-powered solutions can help you increase efficiency, reduce costs, and maximize your profits.</p>
      </div>
      <div class="col-lg-6 mb-md-0 p-md-4">
        <img src="static/images/bg3.jpg" alt="AI in Agriculture" class="img-fluid rounded float-right w-100">
      </div>
    </div>
  </div>


  <!-- Section 3 -->
  
  <div class="text-center" style="background-color: rgb(184, 255, 175); font-size: xx-large; padding:0.5px; color: rgb(23, 65, 13);"><p><b>Our Sevices</b></p></div>
  <div class="shadow p-4 mb-5  rounded" style="background-color: aliceblue;">
  <div class="row row-cols-1 row-cols-md-3 g-5">
    <div class="col">
      <div class="card">
        <img src="static/images/sec3-pic1.jpg" class="card-img-top" alt="pic1" style="height:50vh; width: auto;">
        <div class="card-body">
          <h5 class="card-title">Crop Yeild Prediction</h5>
          <p class="card-text"> Accurately predicting yield depends on various factors like weather, soil conditions, and management practices.</p>
          <a href="/yield" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="static/images/sec3-pic2.jpg" class="card-img-top" alt="pic2" style="height:50vh; width: auto;">
        <div class="card-body">
          <h5 class="card-title">Crop Price Prediction</h5>
          <p class="card-text">Revolutionize your farm with cutting-edge AI solutions, maximizing yield, efficiency, and sustainability using crop prediction.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="static/images/sec3-pic3.jpg" class="card-img-top" alt="pic3" style="height:50vh; width: auto;">
        <div class="card-body">
          <h5 class="card-title">Operations optimization and Logistics</h5>
          <p class="card-text">Gain real-time insights from your data, optimize every aspect of your operation, and make data-driven decisions.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="static/images/sec3-pic4.jpg" class="card-img-top" alt="pic4" style="height:50vh; width: auto;">
        <div class="card-body">
          <h5 class="card-title">Speak to AgroExpert Bot</h5>
          <p class="card-text">Talk to our E-expert multilingual AI tool available which will assist in decision-making and farmer's queries.</p>
          <a href="/chat" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="static/images/sec3-pic5.jpg" class="card-img-top" alt="pic5" style="height:50vh; width: auto;">
        <div class="card-body">
          <h5 class="card-title">Empowering You with Knowledge</h5>
          <p class="card-text">Access valuable resources,government schemes, educational articles, and webinars to stay informed about the latest advancements in agriculture.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="static/images/sec3-pic6.jpg" class="card-img-top" alt="pic6" style="height:50vh; width: auto;">
        <div class="card-body">
          <h5 class="card-title">Market Linkage</h5>
          <p class="card-text">Our aim is to provide better output to the farmers by giving true value to their crops by providing proper market linkages .</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
        {
            pageLanguage: 'en-US',
            layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT,
            autoDisplay: false,
            includedLanguages: 'en,hi'
        },
        'google_translate_element'
    );
  }
  
  function translate_full_page() {
    var translate_dropdown = document.querySelector("#google_translate_element select");
    if(document.documentElement.lang === "hi") {
        $("#google_translate_element select").val("en");
        $("#translate_display_button, #translate_display_button_mobile").text("हिंदी");
        translate_dropdown.dispatchEvent(new Event('change'));
        translate_dropdown.dispatchEvent(new Event('change')); // Some weird bug; doesn't work without dispatching event twice
    }
    else {
        $("#google_translate_element select").val("hi");
        $("#translate_display_button, #translate_display_button_mobile").text("English");
        translate_dropdown.dispatchEvent(new Event('change'));
    }
  }
  
  $(document).ready(function() {
    if(document.documentElement.lang === "hi" || document.cookie.indexOf('googtrans=') != -1) {
        $("#translate_display_button, #translate_display_button_mobile").text("English");
    }
  })</script>

<script type="text/javascript"
src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>